<div ng-controller="mainController" class="container">
    <h1>Blog entries</h1>
    <div class="row">
        <div class="col-sm-12" ng-repeat="page in pages">
            <article>
                <h2><a>{{page.Title}}</a></h2>

                <div class="row">
                    <div class="group1 col-sm-6 col-md-6">
                        <span class="glyphicon glyphicon-bookmark"></span> <a>{{page.Category.Name}}</a>
                    </div>
                    <div class="group2 col-sm-6 col-md-6">
                        <span class="glyphicon glyphicon-pencil"></span> <a>{{page.Author}}</a>
                        <span class="glyphicon glyphicon-time"></span> {{page.Date}}
                    </div>
                </div>

                <hr>


                <br />

                <div class="lead" ng-bind-html="page.Content"></div>

                <hr>
            </article>

            <!--<h1>Title: {{page.Title}}</h1>
            <h2>Date: {{page.Date}}</h2>
            <div ng-bind-html="page.Content"></div>
            <p>Written by {{page.Author}}</p>-->
        </div>
    </div>
</div>